.settings-box{
    position: fixed; 
    top: 25%; 
    right: -20.5%; 
    z-index: 100000; 
    width: 20%;
    transition: ease 0.5s;
}

.texto-oscuro{
    color: #666;
}

.show-settings-box{
    right: 0!important;
}

.open-settings-btn{
    position: absolute; 
    left: -30%; 
    width: 30%; 
    z-index: 1000;
    padding: 10px 0; 
    border: 0; 
    color: #FFF;
    background-color: rgba(40,40,40,0.7); 
    border-top-left-radius: 50px; 
    border-bottom-left-radius: 50px;
}

.settings-content-div{
    position: absolute; 
    width: 100%; 
    background-color: #FFF; 
    padding: 30px 0; 
    box-shadow: 0 0 5px lightgrey;
    border-bottom-left-radius: 50px;
}

.open-settings-icon{
    font-size: 40px;
}

.settings-content{
    padding: 0 20px;
}

.settings-separator{
    margin: 5px 0;
}

.color-button{
    border-radius: 50px;
    width: 30px; 
    height: 30px; 
    border: solid 3px #FFF;
    transition: ease 0.3s;

}

.color-button:hover{
    border: solid 3px #76dbd1;
}

.activo{
    border: solid 3px #76dbd1;
}

.blue-bussiness{
    background: #06beb6;
    background: linear-gradient( to right, #06beb6, #48b1bf );
    background: -webkit-linear-gradient( to right, #06beb6, #48b1bf );
}

.purple-bussiness{
    background: #2F0743;
    background: -webkit-linear-gradient(to right, #2F0743, #41295a);
    background: linear-gradient(to right, #2F0743, #41295a);
}

.yellow-bussiness{
    background: #F2C94C;
    background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);
    background: linear-gradient(to right, #F2C94C, #F2994A);
}

.clear-bussiness{
    background: #FFF;
    background: -webkit-linear-gradient(to right, #FFF, #EEE);
    background: linear-gradient(to right, #FFF, #EEE);
}

.grey-bussiness{
    background: #232526;
    background: -webkit-linear-gradient(to right, #232526, #414345);
    background: linear-gradient(to right, #232526, #414345);
}

.red-bussiness{
    background: #e43a15;
    background: -webkit-linear-gradient(to right, #e43a15, #e65245);
    background: linear-gradient(to right, #e43a15, #e65245);
}

.dark-background{
    background-color: #343434;
}

.clear-background{
    background-color: #EEE;
}

.bone-background{
    background-color: #efedbb;
}

.animado{
    animation: 2s rotate360 infinite linear;
}

@keyframes rotate360{
   to{ transform: rotate(180deg); }
}

.to-upper{
    text-transform: uppercase;
}